<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        About
      </a>

      <a class="navbar-item">
        Blog
      </a>

    </div>
</nav>